{% extends 'main.html' %}


{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Task List</th>
        <th scope="col"><a href="{% url 'add1' %}"><button type="button" class="btn btn-success">Add New</button></a></th>
        <th scope="col"><a href="{% url 'signout1' %}"><button type="button" class="btn btn-success">Logout</button></a></th>
      </tr>
    </thead>
    <tbody>

       {% if form %}
        {% for task in form %}
      <tr>
        <td>{{task.title}}</td>

        {% if task.id %}
        <td>
            <a href="{% url 'edit1' task.id %}"><i class="fa-regular fa-pen-to-square" style="color: #0c419d;"></i></a>
        </td>
        <td>
            <a href="{% url 'delete1' task.id %}"><i class="fa-solid fa-trash"></i></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
      

{% endblock content %}